@import './Table.css';

html,
body {
  margin: 0;
  padding: 0;
  text-size-adjust: 100%;
  box-sizing: border-box;
  scrollbar-width: thin;
  font-family: "Inter";
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 1200px;
}